body {
    font-family: Arial;
    text-align: center;
    background: #6a5acd;
    color: white;
}

#quizBox, #result {
    background: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#result h3 {
    margin-top: 20px;
}

#result p {
    background: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
}

body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg,#5f73e6,#7b4bb7);
    color: white;
}

#quizBox, #result {
    background: white;
    color: black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background: #00d4a3;
    border-radius: 5px;
}

button:hover {
    background: #00b894;
}

#timer {
    font-weight: bold;
    color: red;
}

#progress {
    margin-bottom: 10px;
}